In [1]:
import pandas as pd
import numpy as np
import os
import sys
import cv2
import matplotlib.pyplot as plt
import tensorflow as tf
import keras
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Dropout, Activation, Conv2D, MaxPooling2D
from keras.preprocessing.image import ImageDataGenerator
import warnings
warnings.filterwarnings(action='ignore')

//anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
//anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
//anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
//anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
//anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
//anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
//anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
//anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
//anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
//anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
//anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
//anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
Using TensorFlow backend.

In [2]:
pwd

'/Users/doug/DSI Global/Capstone'

In [3]:
folder_path = "Classes/"
model_dir = os.listdir(folder_path)

In [4]:
model_dir

['golf',
 '.DS_Store',
 'Passat',
 'GTI',
 'golf_sportwagen',
 'Tiguan',
 'Jetta',
 'Atlas']

In [5]:
vw = pd.DataFrame()

In [6]:
for model in model_dir:
    print(model)

golf
.DS_Store
Passat
GTI
golf_sportwagen
Tiguan
Jetta
Atlas

In [29]:
for model in model_dir:
    model_list = []
    try:
        classes = "Classes/"
        folder_path = classes + model
        photo_dir = os.listdir(folder_path)

        for photo in photo_dir:
            fpath = (folder_path + '/' + photo)
#             print(fpath)
#             print(photo)
            vw = vw.append({'model': model, 'photo': photo, 'folder_path': fpath},ignore_index=True)
        
            
#             print(model)
#             print(photo)
#             print(folder_path + '/' + photo)
    except:
        pass

In [8]:
vw['model'].value_counts(normalize=True)

GTI                0.199029
golf_sportwagen    0.189927
Passat             0.179005
golf               0.155340
Jetta              0.137136
Atlas              0.089199
Tiguan             0.050364
Name: model, dtype: float64

In [9]:
vw['folder_path'].tail(20)

1628                         Classes/Atlas/39.image-1.jpg
1629    Classes/Atlas/60.Side-View-of-Red-Volkswagen-A...
1630                         Classes/Atlas/67.image-1.jpg
1631    Classes/Atlas/20.51c5270734cb306a7f39c617674bc...
1632    Classes/Atlas/49.2018-volkswagen-atlas-review.jpg
1633         Classes/Atlas/8.2018-Volkswagen-Atlas-01.jpg
1634    Classes/Atlas/59.28df8ee6c7129d0f4d6f943f40a4e...
1635    Classes/Atlas/65.2019-Volkswagen-Atlas-white-f...
1636    Classes/Atlas/66.cc_2019vws050001_03_640_0q0q.jpg
1637                               Classes/Atlas/92.1.jpg
1638    Classes/Atlas/6.b0ce4177a13d68e009a32a30fbaf13...
1639    Classes/Atlas/36.2018-volkswagen-atlas-Reflex-...
1640    Classes/Atlas/30.https%3A%2F%2Fblogs-images.fo...
1641    Classes/Atlas/31.2018-Volkswagen-Atlas-1-760x5...
1642    Classes/Atlas/3.2019_volkswagen_atlas_angularf...
1643    Classes/Atlas/43.04bd94ebb3198f230fa00022f9bc7...
1644                     Classes/Atlas/58.18462088628.jpg
1645    Classes/Atlas/81.5b538743d5c0d5a267018958b6022...
1646         Classes/Atlas/38.2018-volkswagen-atlas-1.jpg
1647    Classes/Atlas/31.2019-volkswagen-atlas_1006700...
Name: folder_path, dtype: object

In [10]:
train_df, valid_df = train_test_split(vw, random_state=69)

In [11]:
train_df

,folder_path,model,photo
148,Classes/golf/73.1.jpg,golf,73.1.jpg
1590,Classes/Atlas/71.2018-atlas-V6-SE-640x480.jpg,Atlas,71.2018-atlas-V6-SE-640x480.jpg
632,Classes/GTI/8.2019-volkswagen-gti-rabbit-editi...,GTI,8.2019-volkswagen-gti-rabbit-edition.jpg
6,Classes/golf/70.volkswagen-golf%20gti-hero__la...,golf,70.volkswagen-golf%20gti-hero__large.jpg
184,Classes/golf/48.399215.jpg,golf,48.399215.jpg
...,...,...,...
439,Classes/Passat/39.volkswagen%20passat%202018%2...,Passat,39.volkswagen%20passat%202018%20(8)fr.JPG
1626,Classes/Atlas/66.67ebbe394042226be3aede3f4e0ab...,Atlas,66.67ebbe394042226be3aede3f4e0ab0da.jpg
619,Classes/GTI/32.249792.jpg,GTI,32.249792.jpg
1227,Classes/Tiguan/36.2019-Volkswagen-Tiguan-white...,Tiguan,36.2019-Volkswagen-Tiguan-white-full_color-dri...
1078,Classes/golf_sportwagen/54.2a20b3cff82795af08a...,golf_sportwagen,54.2a20b3cff82795af08a9f206a5b44ffd.jpg

In [12]:
datagen = ImageDataGenerator(
        rescale=1./255,
        shear_range=0.2,
        zoom_range=0.2,
        horizontal_flip=True)

In [13]:
# datagen=ImageDataGenerator(featurewise_center=True,
#                            featurewise_std_normalization=True,
#                            rotation_range=20,
#                            width_shift_range=0.1,
#                            height_shift_range=0.1,
#                            shear_range=16,
#                            zoom_range=[0.9, 1.1],
#                            fill_mode="constant",
#                            cval=255,
#                            horizontal_flip=True,
#                            vertical_flip=True,
#                            rescale=1./255.)

In [14]:
train_generator = datagen.flow_from_dataframe(
        dataframe=train_df,
        directory=None,
        x_col="folder_path",
        y_col="model",
        target_size=(150, 150),
        batch_size=32,
        class_mode='categorical')

Found 1230 validated image filenames belonging to 7 classes.

In [15]:


validation_generator = datagen.flow_from_dataframe(
        dataframe=valid_df,
        directory=None,
        x_col="folder_path",
        y_col="model",
        target_size=(150, 150),
        batch_size=32,
        class_mode='categorical')

Found 411 validated image filenames belonging to 7 classes.

In [16]:
model = Sequential()

model.add(Conv2D(filters = 6,                # number of filters
                     kernel_size = (3, 3),       # height/width of filter
                     activation = 'relu',        # activation function 
                     input_shape = (150, 150, 3)))

model.add(MaxPooling2D(pool_size = (2,2))) # dimensions of region of pooling

model.add(Conv2D(filters = 16,
                     kernel_size= (3,3),
                     activation= 'relu'))

model.add(MaxPooling2D(pool_size= (2,2)))

model.add(Flatten())

model.add(Dense(128, activation='relu'))

model.add(Dense(7, activation = 'softmax'))

model.compile(loss='categorical_crossentropy',
                  optimizer='adam',
                  metrics=['accuracy'])

WARNING:tensorflow:From //anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [17]:
STEP_SIZE_TRAIN=train_generator.n//train_generator.batch_size
STEP_SIZE_VALID=validation_generator.n//validation_generator.batch_size
model.fit_generator(generator=train_generator,
                    steps_per_epoch=STEP_SIZE_TRAIN,
                    validation_data=validation_generator,
                    validation_steps=STEP_SIZE_VALID,
                    epochs=1,
                    verbose=1)

38/38 [==============================] - 75s 2s/step - loss: 2.1143 - acc: 0.1753 - val_loss: 1.8682 - val_acc: 0.2161

In [18]:
model.evaluate_generator(generator=validation_generator,
                         steps=STEP_SIZE_VALID,
                         verbose=1)

12/12 [==============================] - 15s 1s/step - loss: 1.8721 - acc: 0.1719

[1.8721016546090443, 0.171875]

In [19]:
pwd

'/Users/doug/DSI Global/Capstone'

In [20]:
for unknown_car in model_dir:
    unknown_car_list = []
    try:
        classes = "TEST/"
        folder_path = classes + unknown_car
        photo_dir = os.listdir(folder_path)

        for photo in photo_dir:
            fpath = (folder_path + '/' + photo)
            print(fpath)
            print(photo)
            vw = vw.append({'folder_path': fpath},ignore_index=True)
        
            
#             print(unknown_car)
#             print(photo)
#             print(folder_path + '/' + photo)
    except:
        pass

In [21]:
test_df = pd.DataFrame()
test_photo_dir = os.listdir('TEST/')
for photo in test_photo_dir:
    fpath = 'TEST/' + photo
    test_df = test_df.append({'photo': fpath}, ignore_index=True)

In [22]:

test_df = test_df.drop(test_df.index[0])
test_df

               photo
1     TEST/.DS_Store
2  TEST/DSC_0037.JPG
3  TEST/DSC_0127.JPG
4  TEST/DSC_0047.JPG
5  TEST/DSC_0131.JPG
6  TEST/DSC_0049.JPG

In [23]:
test_datagen=ImageDataGenerator(rescale=1./255.)
test_generator=test_datagen.flow_from_dataframe(
                                            dataframe=test_df,
                                            directory=None,
                                            x_col="photo",
                                            y_col=None,
                                            batch_size=32,
                                            shuffle=False,
                                            class_mode=None,
                                            target_size=(150, 150))

Found 5 validated image filenames.

In [25]:
my_car = model.predict_generator(test_generator) # predictproba

In [26]:
predicted_class_indices=np.argmax(my_car,axis=1)

In [27]:
labels = (train_generator.class_indices)
labels = dict((v,k) for k,v in labels.items())
predictions = [labels[k] for k in predicted_class_indices]

In [28]:
predictions

['GTI',
 'golf_sportwagen',
 'golf_sportwagen',
 'golf_sportwagen',
 'golf_sportwagen']